<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <h4>No binding</h4>
  <lh-numberInput  factor="1" prefix="$" postfix=" AUD" title="Please enter a value" placeholder="Enter something" (valueChange)="onChange($event)" (focus)="onFocus($event)"
    (blur)="onBlur($event)" width="100" [value]="valUndefined" ></lh-numberInput>

  <h4>With model binding</h4>
  <p>Factor:1; prefix:$; postfix: AUD</p>
  <lh-numberInput factor="1" prefix="$" postfix=" AUD" (valueChange)="onChange($event)" (focus)="onFocus($event)"
    (blur)="onBlur($event)" width="100" [(value)]="val"></lh-numberInput>

  <p>The model value is {{val}}</p>

  <h4>With forms template binding</h4>

  <form>
      <p>Factor:100; postfix: %</p>
    <lh-numberInput name="templateInput" factor="100" prefix="" postfix=" %" [(ngModel)]="value" width="80"> </lh-numberInput>
    <p>The model value is: {{value}}</p>
  </form>
  <h4>With reactive forms binding</h4>
  <form [formGroup]="formGroup">
    <p>Factor:100; postfix: %</p>
    <lh-numberInput formControlName="inputControl" factor="100" prefix="" postfix=" %" width="80">
    </lh-numberInput>
    <p>The reactive form value is: {{formGroup.controls['inputControl'].value}}</p>
  </form>
</div>
