:host {
  padding: 0px 7px 0px 1px;
  display: block;
}

.lh-wrapper {
  /* border: 1px solid grey; */
  padding: 2px;

  display: inline-block;
  width: 100%
}

input {
  /* border: none; */
  width: 100%;
  display: inline-block;
  padding: .375em .375em;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33,37,41,0.15)


}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
